{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
<div class="container">
    <h1>Cart</h1>
    {% for item in items %}
        <div class="product-table-wrapper">
            <table class="table product-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Taille</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="{{ asset('assets/images/'~item.product.image)}}" class="cart-image" alt="..."></td>
                        <td rowspan="2">{{ item.product.name }}</td>
                        <td rowspan="2">{{ item.product.price }}  €</td>
                        <td>{{ item.size }}</td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{{ path('app_cart_product_remove', {'id': item.product.id, 'size': item.size}) }}" class="btn btn-danger btn-sm">Retirer du panier</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Votre panier est vide</p>
    {% endfor %}
    {% if total > 0 %}
    <br><br>
    <div class="total">
        <h2>Total : {{ total }} Eur</h2>
        <div class="row">
            <a href="{{ path('app_cart_remove') }}" class="btn btn-outline-danger">FINALISER LA COMMANDE</a>
            <a href="{{ path('app_order')}}" class="btn btn-primary ">CONTINUER MES ACHATS</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

