        <header>
                <div class="logo">
                  <a class="nav-link active" aria-current="page" href="{{path('app_home')}}"><img src="{{ asset('assets/Logo.png') }}" alt=""></a>
                </div>
                <div class="titre">
                  {% block title %}{{ page_title }}{% endblock %}
                </div>
                <div class="nav-block">
                        <nav class="navigation__menu">
                                <ul>
                                        <a href="{{path('app_home')}}"><li>Accueil</li></a>
                                        {% if app.user == true %}
                                          <a href="{{path('app_boutique')}}"><li>Boutique</li></a>
                                          <li><a href="{{ path('app_cart')}}">Panier</a></li>
                                        {% endif %}

                                        {% if app.user == false %}
                                          <li class="nav-item">
                                            <a href="{{ path('app_register')}}" class="nav-link">S'inscrire</a>
                                          </li>
                                          <li class="nav-item">
                                            <a href="{{ path('app_login')}}" class="nav-link">Se connecter</a>
                                          </li>
                                        {% endif %}
                                        {% if app.user == true %}
                                          <li class="nav-item">
                                            <a href="{{ path('app_logout')}}" class="nav-link">Se Deconnecter</a>
                                          </li>
                                        {% endif %}
                                </ul>
                        </nav>
                </div>
        </header>